<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./resources/pictures/shortcut-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./resources/styles/home.css">
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav>
            <img src="./resources/pictures/meetic-logo.jpg" alt="Logo" id="logo">
            <ul>
                <li><a href="./member_page.html">Home</a></li>
                <li><a href="./account.html">My Account</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h1></h1>
    </header>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="./resources/scripts/home.js"></script>
</body>
</html>